{% extends "base.html" %}

{% block title %}Add{% endblock %}
{% block button %}<a href="#" class="small white radius nice button">Clear</a>{% endblock %}
{% block content %}

<form class="nice">
      <div class="row borderleft">
	<div class="six phone-two columns">
	  <input type="text" class="input-text" placeholder="When">
	  <input type="text" class="input-text" placeholder="Where">
	  <input type="text" class="input-text" placeholder="What">
	</div>
	<div class="six phone-two columns">
	  <input type="text" class="input-text foo " placeholder="$0">
	</div>

      </div>

      <div class="row borderleft margin-top-5">
         <div class="row ">
	   <div class="six phone-three columns">
	     <h5>Participants</h5>
	   </div>
	   <div class="six phone-one columns">
	     <div class="right">
	       <a href="#" class="radius red button small">Add</a>
	     </div>
	    </div>
	  </div>

	  <div class="row">
            <div class="twelve phone-four columns">

	      <div class="participant">
		<img src="http://dummyimage.com/45x45/ccc/fff">
		Makis Veresedakis
		<a href="#" class="right small white button bottomleftcorner">×</a>
	      </div>

	    </div>
	  </div>

      </div>

      <div class="right">
	<a href="#" class="radius button disabled">Create!</a>
      </div>

      </form>

{% endblock %}
