<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<!-- Verese App page -->

<head>

  <title>Verese</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="/media/images/verese.ico" />

  <script src="http://code.jquery.com/jquery-1.6.2.min.js" type="text/javascript"></script>

  <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" type="text/css">

  <script src="/media/js/verese.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/media/css/main.css" type="text/css">

  <link rel="apple-touch-icon" href="/media/images/app/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/media/images/app/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/media/images/app/apple-touch-icon-114.png">

  <link href="/verese.webapp" type="application/x-web-app-manifest+json"></script>
</head>

<body>
  <!-- Dashboard page -->

<div data-role="page" id="dashboard">
 <script type="text/javascript">
  $(document).ready(function () {

    $('#currency_aggregations').hide();
    $('#balance_aggregation').click(function () {
       $('#currency_aggregations').slideToggle('fast');
    });


    $.getJSON("/api/v1.0/profile/", set_profile);
    $.getJSON("/api/v1.0/balance/", populate_currencies);
    $.getJSON("/api/v1.0/transaction/list/", populate_transactions);

  });
 </script>



  <div data-role="header" data-position="fixed">
      <h1>Verese</h1>
      <a href="/accounts/logout/" data-icon="gear" class="ui-btn-right">Logout</a>
  </div><!-- /header -->

    <div data-role="content" style="text-align:center;">
      <div class="ui-grid-a">
        <div style="width:46%;margin:2%;text-align:left;" class="ui-block-a">
          <h2 id="myname"></h2>
        </div>

        <div style="width:46%;margin:2%;" class="ui-block-b">
          <h2><a href="#" id="balance_aggregation" data-role="button" data-icon="grid" data-iconpos="bottom" name="balance_aggregation"></a></h2>
        </div>
      </div>

      <div id="currency_aggregations" data-role="controlgroup" data-type="horizontal" style="width:auto; text-align:center;">

      </div>



      <div>

	<ul data-role="listview" id="transaction_list">

	  <li>
	   <a href="index.html">
	    <img src="http://www.gravatar.com/avatar/7b74caf316a6c6716977fe84b56774c1?s=80&d=mm" />
	    <h3>Broken Bells</h3>
	    <p>Broken Bells</p>
	   </a>
	  </li>

	</ul>

      </div>
    </div><!-- /content -->

    <div data-role="footer" class="nav-glyphish-example" data-position="fixed"
    data-theme="b" data-id="navbar">
      <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
        <ul>
          <li><a href="#add" id="veresedaki" class="ui-state-persist" data-icon="custom" data-transition="slide" name="veresedaki">Add</a></li>

          <li><a href="#dashboard" class="ui-btn-active" class="ui-state-persist" id="planet" data-icon="custom" data-transition="slide" name="planet">Overview</a></li>

          <li><a href="#" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">People</a></li>

          <li><a href="#" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a></li>
        </ul>
      </div>
    </div><!-- /footer -->
  </div>


<!-- Add Veresedaki Page -->

<div data-role="page" id="add">

   <div data-role="header" data-position="fixed">
       <h1>Verese</h1>
       <a href="/accounts/logout/" data-icon="gear" class="ui-btn-right">Logout</a>
   </div><!-- /header -->


    <div data-role="footer" class="nav-glyphish-example" data-position="fixed"
    data-theme="b" data-id="navbar">
      <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
        <ul>
          <li><a href="#add" class="ui-btn-active" class="ui-state-persist" id="veresedaki" data-icon="custom" data-transition="slide" name="veresedaki">Add</a></li>

          <li><a href="#dashboard" id="planet" class="ui-state-persist" data-icon="custom" data-transition="slide" name="planet">Overview</a></li>

          <li><a href="#" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">People</a></li>

          <li><a href="#" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a></li>
        </ul>
      </div>
    </div><!-- /footer -->
</div>

</body>
</html>
