{% extends "base.html" %}

{% block content %}

<!----------------------------------------------------------------------------->

  <!-- Login Page -->

  <div data-role="page" style="text-align:center;" id="login" data-url="{% url vereseapp %}#login" data-title="Verese" >
    <div data-role="header" data-position="fixed">
    </div><!-- /header -->

    <div data-role="content">
      <div id="logo">
        <img src="/media/verese.png"></img>
      </div>
      <p>beta deployment</p>

      <div data-role="fieldcontain">
        <form id="loginform">
          {% csrf_token %}
	  <label for="username">Username:</label>
	  <input type="text" name="username" id="username" value="">
	  <label for="password">Password:</label>
	  <input type="password" name="password" id="password" value="">
	  <button value="submit-value" name="submit" data-theme="a" type="submit" class="ui-btn-hidden" aria-disabled="false">Login</button>
        </form>

	<a id="browserid" href="#"><img src="https://browserid.org/i/sign_in_blue.png"></img></a>
	<form method="POST" action="{% url browserid_verify %}" data-ajax="false">
	{% csrf_token %}
	<input type="hidden" name="assertion" id="id_assertion" />
	</form>

      </div>

      <a href="#faq" data-role="button" data-transition="slide" data-inline="true" data-icon="info">Frequently Asked Questions</a>
    </div><!-- /content -->

    <div data-role="footer" data-theme="d">
      <h4><sub>copyleft verese project 2011</sub></h4>
    </div><!-- /footer -->

  </div><!-- /login page -->

<!----------------------------------------------------------------------------->

  <!-- Logout Page -->

  <div data-role="page" style="text-align:center;" id="logout" data-url="{% url vereseapp %}#logout" data-title="Logout" >
    <div data-role="header" data-position="fixed">
    </div><!-- /header -->

    <div data-role="content">
      <div id="logo">
        <img src="/media/verese.png"></img>
      </div>
    </div>

    <div data-role="footer" data-theme="d">
      <h4><sub>copyleft verese project 2011</sub></h4>
    </div><!-- /footer -->

  </div><!-- /logout page -->


<!----------------------------------------------------------------------------->

  <!-- FAQ Page -->

  <div data-role="page" id="faq" data-add-back-btn="true" data-title="FAQ">
    <div data-role="header" data-position="fixed">
      <h1>FAQ</h1>
    </div><!-- /header -->

    <div data-role="content">

      <h2>What is verese?</h2>

      <h2>How to use it?</h2>

      <h2>Is is free?</h2>

      Yes! Verese is completelly free to use. But it's also open
      source software. You can download the source, modify it and even
      setup your own verese instance!
    </div>

    <div data-role="footer" data-theme="d">
      <h4><sub>copyleft verese project 2011</sub></h4>
    </div><!-- /footer -->
  </div><!-- /FAQ page -->

<!----------------------------------------------------------------------------->

<!-- Dashboard page -->
<div data-role="page" id="dashboard" data-title="Dashboard" data-url="#dashboard">

  <div data-role="header" data-position="fixed" data-id="vereseheader">
    <h1>Dashboard</h1>
    <a href="#logout" data-icon="gear" data-iconpos="notext" class="ui-btn-right jqm-home">Logout</a>
  </div><!-- /header -->

  <!-- content starts -->
  <div data-role="content" style="text-align:center;">

    <!-- grid 'a' starts -->
    <div class="ui-grid-a">

      <!-- populated by populate_profile -->
      <div style="width:46%;margin:2%;text-align:left;" class="ui-block-a">
	<div style="float:left;" id="my_avatar"></div>
	<h2 id="my_name"></h2>
      </div>

      <!-- populated by populate_balance -->
      <div style="width:46%;margin:2%;" class="ui-block-b">
	<h2>
	  <a href="#" data-role="button" data-icon="grid" data-iconpos="bottom">
	    <div id="balance_aggregation"></div>
	  </a>
	</h2>
      </div>

    </div>
    <!-- grid 'a' ends -->

    <!-- populated by populate_balance -->
    <div> <!-- extra div needed to avoid re'create()'ing all page -->
      <div data-role="controlgroup" data-type="horizontal" style="width:auto; text-align:center;">
	<div id="currency_aggregations"></div>
      </div>
    </div>

    <!-- transaction list -->
    <div>
      <ul id="transaction_list" data-role='listview'>
      </ul>
    </div>
    <!-- transaction list -->

  </div>
  <!-- content ends -->

  <!-- footer starts -->
  <div data-role="footer" class="nav-glyphish-example" data-position="fixed" data-theme="b" data-id="navbar">
    <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
      <ul>
	<li>
	  <a href="#add" id="veresedaki" class="ui-state-persist" data-icon="custom" data-transition="slide" name="veresedaki">Add</a>
	</li>

	<li>
	  <a href="#dashboard" class="ui-btn-active" class="ui-state-persist" id="planet" data-icon="custom" data-transition="slide" name="planet">Dashboard</a>
	</li>

	<li>
	  <a href="#connections" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">Connections</a>
	</li>

	<li>
	  <a href="#analysis" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a>
	</li>
      </ul>
    </div>
  </div>
  <!-- footer ends-->

</div>



<!----------------------------------------------------------------------------->


<!-- Add Veresedaki Page -->

<div data-role="page" id="add" data-title="Add" data-url="#add">

  <!-- header starts -->
  <div data-role="header" data-position="fixed" data-id="vereseheader">
    <h1>Add new</h1>
    <a href="#logout" data-icon="gear" data-iconpos="notext" class="ui-btn-right jqm-home">Logout</a>
  </div>
  <!-- header ends -->

  <!-- content starts -->
  <div data-role="content">
    <p> not ready yet </p>
  </div>
  <!-- content ends -->

  <!-- footer starts -->
  <div data-role="footer" class="nav-glyphish-example" data-position="fixed" data-theme="b" data-id="navbar">
    <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
      <ul>
	<li>
	  <a href="#add" class="ui-btn-active" class="ui-state-persist" id="veresedaki" data-icon="custom" data-transition="slide" name="veresedaki">Add</a>
	</li>

	<li>
	  <a href="#dashboard" id="planet" class="ui-state-persist" data-icon="custom" data-transition="slide" name="planet">Dashboard</a>
	</li>

	<li>
	  <a href="#connections" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">Connections</a>
	</li>

	<li>
	  <a href="#analysis" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a>
	</li>

      </ul>
    </div>
  </div>
  <!-- footer ends -->

</div>

<!----------------------------------------------------------------------------->

<!-- connections page start -->

<div data-role="page" id="connections" data-title="Connections" data-url="#connections">

  <!-- header starts -->
  <div data-role="header" data-position="fixed" data-id="vereseheader">
    <h1>Connections</h1>
    <a href="#logout" data-icon="gear" data-iconpos="notext" class="ui-btn-right jqm-home">Logout</a>
  </div>
  <!-- header ends -->

  <!-- content starts -->
  <div data-role="content">
    <p> not ready yet </p>
  </div>
  <!-- content ends -->

  <!-- footer starts -->
  <div data-role="footer" class="nav-glyphish-example" data-position="fixed" data-theme="b" data-id="navbar">
    <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
      <ul>
	<li>
	  <a href="#add" class="ui-btn-active" class="ui-state-persist" id="veresedaki" data-icon="custom" data-transition="slide" name="veresedaki">Add</a>
	</li>

	<li>
	  <a href="#dashboard" id="planet" class="ui-state-persist" data-icon="custom" data-transition="slide" name="planet">Dashboard</a>
	</li>

	<li>
	  <a href="#connections" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">Connections</a>
	</li>

	<li>
	  <a href="#analysis" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a>
	</li>

      </ul>
    </div>
  </div>
  <!-- footer ends -->

</div>


<!-- connections page end -->

<!----------------------------------------------------------------------------->


<!-- analysis page start -->

<div data-role="page" id="analysis" data-title="Analysis" data-url="#analysis">

  <!-- header starts -->
  <div data-role="header" data-position="fixed" data-id="vereseheader">
    <h1>Analysis</h1>
    <a href="#logout" data-icon="gear" data-iconpos="notext" class="ui-btn-right jqm-home">Logout</a>
  </div>
  <!-- header ends -->

  <!-- content starts -->
  <div data-role="content">
    <p> not ready yet 2</p>
  </div>
  <!-- content ends -->

  <!-- footer starts -->
  <div data-role="footer" class="nav-glyphish-example" data-position="fixed" data-theme="b" data-id="navbar">
    <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
      <ul>
	<li>
	  <a href="#add" class="ui-btn-active" class="ui-state-persist" id="veresedaki" data-icon="custom" data-transition="slide" name="veresedaki">Add</a>
	</li>

	<li>
	  <a href="#dashboard" id="planet" class="ui-state-persist" data-icon="custom" data-transition="slide" name="planet">Dashboard</a>
	</li>

	<li>
	  <a href="#connections" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">Connections</a>
	</li>

	<li>
	  <a href="#analysis" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a>
	</li>

      </ul>
    </div>
  </div>
  <!-- footer ends -->

</div>


<!-- analysis page end -->

<!----------------------------------------------------------------------------->


<!-- welcome page start -->
<div data-role="page" id="welcome" data-title="Welcome" data-url="#welcome">

  <!-- start header -->
  <div data-role="header" data-position="fixed" data-id="vereseheader">
    <h1>Welcome</h1>
  </div>
  <!-- end header -->

  <!-- start content -->
  <div data-role="content">

    <h2>Hello and welcome to Verese!</h2>

    <p>Please fill in some details to complete your registration:</p>

    <form id="welcomeform">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" />
      <label for="first_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" />

      <div data-role="fieldcontain">
	<label for="currency" class="select">Currency:</label>
	<select name="currency" id="currency">
	  <option value="{{ currency.id }}">Choose one...</option>
	  {% for currency in currencies %}
	  <option value="{{ currency.id }}">{{ currency.symbol }} - {{ currency.name }} </option>
	  {% endfor %}
	</select>
      </div>
      <button value="submit-value" name="submit" data-theme="a" type="submit" class="ui-btn-hidden" aria-disabled="false">Ready</button>
    </form>
  </div>
  <!-- end content -->

  <!-- start footer -->
  <div data-role="footer" data-theme="d">
    <h4><sub>copyleft verese project 2011</sub></h4>
  </div><!-- /footer -->

  <!-- end footer -->

</div>
<!-- end page -->

<!-- welcome page end -->



<script id="transctionItem" type="text/x-jquery-tmpl">
  <li class="ui-li-has-arrow ${currency_code}_transaction" data-icon="${arrow}">
    <a href="#">
      <img src="${img}"/>
      <h3>${name}</h3>
      <p>${comment}</p>
    </a>
    <p class="ui-li-count">${amount}</div>
  </li>
</script>

{% endblock %}

