{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<!-- Verese App page -->

<head>

  <title>Verese</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-startup-image" href="/media/verese.png" />
  <link rel="shortcut icon" href="/media/images/verese.ico" />

  <script src="http://code.jquery.com/jquery-1.6.2.min.js" type="text/javascript"></script>

  <script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" type="text/css">

  <link rel="apple-touch-icon" href="/media/images/app/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/media/images/app/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/media/images/app/apple-touch-icon-114.png">

  <link href="/verese.webapp" type="application/x-web-app-manifest+json"></script>

{% compress css %}
  <link rel="stylesheet" href="/media/css/main.css" type="text/css">
{% endcompress %}
{% compress js %}
  <script src="/media/js/jquery.prettydate.js" type="text/javascript"></script>
  <script src="/media/js/verese.js" type="text/javascript"></script>
{% endcompress %}

</head>

<body>

<!-- Dashboard page -->
<div data-role="page" id="dashboard">

<script type="text/javascript">
    $(document).bind('pagebeforeshow', (function () {
	if ($.mobile.activePage.attr('id') == 'dashboard') {
	    $('#currency_aggregations').hide();
	    $('#balance_aggregation').click(function () {
		$('#currency_aggregations').slideToggle('fast');
	    });

	    $.getJSON("/api/v1.0/profile/", populate_profile);
	    $.getJSON("/api/v1.0/balance/", populate_balance);
	    $.getJSON("/api/v1.0/transaction/list/", populate_transactions);
	}
    })
);
</script>

 <div data-role="header" data-position="fixed" data-id="vereseheader">
   <div id="header-logo">
     <img src="/media/verese-top.png"></img>
   </div>
   <a href="{% url logout %}" data-icon="gear" class="ui-btn-right">Logout</a>
 </div><!-- /header -->

 <!-- content starts -->
 <div data-role="content" style="text-align:center;">

   <!-- grid 'a' starts -->
   <div class="ui-grid-a">

     <!-- populated by populate_profile -->
     <div style="width:46%;margin:2%;text-align:left;" class="ui-block-a">
       <div style="float:left;" id="my_avatar"></div>
       <h2 id="my_name"></h2>
     </div>

     <!-- populated by populate_balance -->
     <div style="width:46%;margin:2%;" class="ui-block-b">
       <h2><a href="#" id="balance_aggregation"></a></h2>
     </div>

   </div>
   <!-- grid 'a' ends -->

   <!-- populated by populate_balance -->
   <div> <!-- extra div needed to avoid re'create()'ing all page -->
     <div id="currency_aggregations" data-role="controlgroup" data-type="horizontal" style="width:auto; text-align:center;">
     </div>
   </div>

   <!-- transaction list -->
   <div>
     <ul id="transaction_list">
     </ul>
   </div>
   <!-- transaction list -->

 </div>
 <!-- content ends -->

 <!-- footer starts -->
 <div data-role="footer" class="nav-glyphish-example" data-position="fixed" data-theme="b" data-id="navbar">
   <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
     <ul>
       <li>
       <a href="#add" id="veresedaki" class="ui-state-persist" data-icon="custom" data-transition="slide" name="veresedaki">Add</a>
       </li>

       <li>
	 <a href="#dashboard" class="ui-btn-active" class="ui-state-persist" id="planet" data-icon="custom" data-transition="slide" name="planet">Overview</a>
       </li>

       <li>
       <a href="#" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">People</a>
       </li>

       <li>
       <a href="#" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a>
       </li>
     </ul>
   </div>
 </div>
 <!-- footer ends-->

</div>



<!-- Add Veresedaki Page -->

<div data-role="page" id="add">

  <!-- header starts -->
  <div data-role="header" data-position="fixed" data-id="vereseheader">
    <div id="header-logo">
      <img src="/media/verese-top.png"></img>
    </div>
    <a href="/accounts/logout/" data-icon="gear" class="ui-btn-right">Logout</a>
  </div>
  <!-- header ends -->


  <!-- footer starts -->
  <div data-role="footer" class="nav-glyphish-example" data-position="fixed" data-theme="b" data-id="navbar">
    <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
      <ul>
	<li>
	<a href="#add" class="ui-btn-active" class="ui-state-persist" id="veresedaki" data-icon="custom" data-transition="slide" name="veresedaki">Add</a>
	</li>

	<li>
	<a href="#dashboard" id="planet" class="ui-state-persist" data-icon="custom" data-transition="slide" name="planet">Overview</a>
	</li>

	<li>
	<a href="#" id="group" class="ui-state-persist" data-icon="custom" data-transition="slide" name="group">People</a>
	</li>

	<li>
	<a href="#" id="analitics" class="ui-state-persist" data-icon="custom" data-transition="slide" name="analitics">Analysis</a>
	</li>

      </ul>
    </div>
  </div>
  <!-- footer ends -->

</div>




<!-- welcome page start -->
<div data-role="page" id="welcome">


<script type="text/javascript">
    $(document).bind('pagebeforeshow', (function () {
	if ($.mobile.activePage.attr('id') == 'welcome') {
	    $('#welcomeform').submit(
		function(event) {
		    event.preventDefault();

		    var success_cb = function(dataReceived, textStatus) {
			$.mobile.changePage("/verese/", {'transition':'pop'});
		    };

		    var error_cb = function(dataReceived, textStatus, errorThrown) {
			alert('update error, please try again');
			// make this a jqm popup or something
		    };

		    // validate
		    if ($('#first_name').val() == '') {
			$('#first_name').focus();
			return false;
		    }
		    else if ($('#last_name').val() == '') {
			$('#last_name').focus();
			return false;
		    }
		    else if ($('#currency').val() == '') {
			$('#currency').focus();
			return false;
		    }

		    $.mobile.showPageLoadingMsg();

		    $.ajax({
			type:'PUT',
			url:'/api/v1.0/profile/',
			dataType: 'text',
			data:$(this).serialize(),
			success: success_cb,
			error: error_cb
		    });
		    // prevent browser from doing anything else
		    return false;
		});

	}
    })
);
</script>

  <!-- start header -->
  <div data-role="header" data-position="fixed" data-id="vereseheader">
    <div id="header-logo">
      <img src="/media/verese-top.png"></img>
    </div>
  </div>
  <!-- end header -->

  <!-- start content -->
  <div data-role="content">

    <h2>Hello and welcome to Verese!</h2>

    <p>Please fill in some details to complete your registration:</p>

    <form id="welcomeform">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" />
      <label for="first_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" />

      <div data-role="fieldcontain">
	<label for="currency" class="select">Currency:</label>
	<select name="currency" id="currency">
	  <option value="{{ currency.id }}">Choose one...</option>
	  {% for currency in currencies %}
	  <option value="{{ currency.id }}">{{ currency.symbol }} - {{ currency.name }} </option>
	  {% endfor %}
	</select>
      </div>
      <button value="submit-value" name="submit" data-theme="a" type="submit" class="ui-btn-hidden" aria-disabled="false">Ready</button>
    </form>
  </div>
  <!-- end content -->

  <!-- start footer -->
  <div data-role="footer" data-theme="d">
    <h4><sub>copyleft verese project 2011</sub></h4>
  </div><!-- /footer -->

  <!-- end footer -->

</div>
<!-- end page -->

<!-- welcome page end -->

</body>
</html>
