body {
	height:100%;
	}

#logo {
	margin-bottom: 20px;
	margin-top: 20px;
	}

#header-logo {
	text-align:center;
	padding-bottom: 3px;
	padding-top: 5px;
	}

.nav-glyphish-example .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
	}

.nav-glyphish-example .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
	}

#my_avatar {
    float:left;
    margin-right: 1%;
}

#planet .ui-icon {
	background:  url(/media/images/app/27-planet.png) 50% 50% no-repeat;
	background-size: 29px 18px;
	}

#group .ui-icon {
	background:  url(/media/images/app/112-group.png) 50% 50% no-repeat;
	background-size: 32px 21px;
	}

#analitics .ui-icon {
	background:  url(/media/images/app/16-line-chart.png) 50% 50% no-repeat;
	background-size: 30px 24px;
	}

#veresedaki .ui-icon {
	background:  url(/media/images/app/10-medical.png) 50% 50% no-repeat;
	background-size: 22px 22px;
	}

.ui-li-has-count .ui-li-count {
    font-size: 18px;
    font-weight: bold;
    margin-top: -0.9em;
    padding: 0.5em;
    position: absolute;
    right: 38px;
    top: 40%;
}


.apply-padding-5 {
   padding: 5%;
}

.apply-padding-10 {
   padding: 10%;
}

.apply-padding-bottom-5 {
   padding-bottom: 5%;
}

.apply-padding-bottom-10 {
   padding-bottom: 10%;
}
