body {
	height:100%;
	}

#logo {
	margin-bottom: 20px;
	margin-top: 20px;
	}

#header-logo {
	text-align:center;
	padding-bottom: 3px;
	padding-top: 5px;
	}

.nav-glyphish-example .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
	}

.nav-glyphish-example .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
	}

.apply-padding-5 {
   padding: 5%;
}

.apply-padding-10 {
   padding: 10%;
}

.apply-padding-bottom-5 {
   padding-bottom: 5%;
}

.apply-padding-bottom-10 {
   padding-bottom: 10%;
}

.ui-li-thumb {
 max-height: 48px;
 max-width: 48px;
 left: 0.9em;
 background-color: white;
 box-shadow: 2px 2px 2px #ccc;
 padding: 4px;
}

.ul-li-aside {
 font-size: 18px;
 font-weight: bold;
 margin-top: -0.9em;
 padding: 0.2em 0.5em;
 position: absolute;
 top: 50%;
 right: 38px;
 color: maroon;
 text-shadow: 1px 1px #ccc;
}


.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
 padding-left: 85px;
}

#vereseheader {
 text-align:center;
}

#vereseheader img{
 margin:10px;
}

/* Add page CSS ------------------------- */

#currencyblock {
 width: 38%;
 float: left;
 margin-right: 2%;
}

#currencyfield {
 text-align:center;
 margin-top: 0.2em;
 font-size: 1.7em;
}

#sumfield {
 text-align:right;
 font-size: 1.2em;
 margin-top: 0.5em;
 width: 57%;
 float: left;
}

#dateblock {
}

#locationblock {
}

#locationfield {
 padding: 0.7em;
}


#listview {
 margin:0px;
}

#peoplelist {
 margin-top: 0.8em;
}

#peoplelist img{
 margin-top: 0.8em;
}

div.ui-slider {
 width:80%;
}

#add-search-block {
 width:70%;
}

#add-search-field {
 text-align:left;
 font-size: 28px;
 margin-top: 20px;
}

#add-button-block {
 width:30%;
 font-size: 21px;
 margin-top: 10px;
}

#add-search-button {
 text-align:center;
 width:100%;
}

.ui-input-datebox input {
   text-shadow: 0 1px 0 #FFFFFF;
   color: #333;
   text-align: center;
}

.ui-input-datebox {
   padding: 0.5em;
   min-height: 0px;
   width: 90%;

}

#veresedaki_datefield {
   padding: 0.7em;
}
